<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.ibax.mapper.KeysMapper">

	<resultMap type="Keys" id="KeysResultMap">
		<result property="id" column="id" />
		<result property="pub" column="pub" jdbcType="BINARY" javaType="_byte[]" />
		<result property="amount" column="amount" />
		<result property="deposit" column="deposit" />
		<result property="multi" column="multi" />
		<result property="deleted" column="deleted" />
		<result property="deleted" column="deleted" />
		<result property="blocked" column="blocked" />
		<result property="ecosystem" column="ecosystem" />
		<result property="account" column="account" />
	</resultMap>
	<select id="selectKeysById" resultMap="KeysResultMap">
		SELECT id, pub, amount, maxpay, deposit, multi, deleted, blocked, ecosystem, account FROM "1_keys" where id = #{id}
	</select>

</mapper>
